@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-button{
    padding: 7px 19px;
    border-radius: 6px;
    background-color: rgb(79, 70, 229);
    font-size: 16px;
}

.swal-icon{
    color: rgb(79, 70, 229);
}